<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
</head>
<body>
    <h1>Sentiment Analysis</h1>
    <form action="/analyze" method="post">
        <input type="text" name="sentence" placeholder="Enter a sentence" required>
        <button type="submit">Analyze Sentiment</button>
    </form>
    {% if sentence %}
    <h2>Analysis Result</h2>
    <p><strong>Sentence:</strong> {{ sentence }}</p>
    <p><strong>Sentiment:</strong> {{ sentiment }}</p>
    <p><strong>Confidence:</strong> {{ confidence }}</p>
    {% endif %}

    <h1>Sentiment Analysis on CSV File</h1>
    <a href="/uploads.html">Upload CSV for Sentiment Analysis</a>



</body>
</html>
